/** page navigation
 * ========================================================== */

.page-menu {
    background: rgba(255, 255, 255, 0);
    bottom: 0;
    transform: translate3d(-500px, 0, 0);
    transition: all 0.4s;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 500px;
    z-index: 100;

    -webkit-transform: translate3d(-500px, 0, 0);
    -webkit-transition: all 0.4s;
}

.page-menu.menu-open {
    background: rgba(37, 33, 34, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.page-menu-opener {
    color: #333;
    cursor: pointer;
    background: #dddddd;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 7px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    z-index: 2000;
}

.page-menu-opener .fa {
    clear: both;
    float: left;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.page-menu-opener-text {
    clear: both;
    float: left;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.page-navigation {
    width: 420px;
    overflow-y: auto;
    padding: 20px;
    position: relative;
    z-index: 100;
}

.page-menu-morph {
    position: absolute;
    width: 120px;
    height: 99%;
    top: 0;
    right: 0;
}

.page-menu-morph svg path {
    stroke: #aaa;
    stroke-width: 5px;
}

.page-navigation ul {
    clear: both;
    padding-left: 0;
}

.page-navigation li {
    clear: both;
    float: left;
    list-style-type: none;
    text-align: left;
    width: 100%;
}

.page-navigation a {
    clear: both;
    color: #fff;
    float: left;
    text-decoration: none;
    width: 100%;
}

.page-navigation-home {
    float: left;
    font-size: 16px;
    padding: 10px !important;
    width: 100%;
}

.page-navigation-home .fa {
    text-align: left;
    width: 30px;
}

.page-navigation .fa {
    float: left;
    text-align: center;
    width: 20px;
}

.page-navigation .left-menu-text {
    float: left;
    width: calc(100% - 20px);
}

.page-navigation-level-1 a {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    vertical-align: bottom;
}

.page-navigation-level-1 .fa {
    font-size: 22px;
    text-align: center;
    width: 40px;
}

.page-navigation-level-2 a {
    border-top: none;
    font-size: 14px;
    padding: 5px 0;
}

.page-navigation-level-3 {
    margin-left: 40px;
}

.page-navigation-level-3 a {
    font-size: 14px;
}

.page-navigation-level-3 .fa {
    font-size: 14px;
    width: 20px;
}

/** page navigation -> mobile
 * ========================================================== */

.page-menu-mobile {
    background: #dddddd;
    cursor: pointer;
    color: #333;
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.page-menu-mobile .fa {
    margin-right: 10px;
}



@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .hide-on-desktop {
        display: none !important;
    }
}