/** page navigation
 * ========================================================== */

.page-menu {
    background: rgba(37, 33, 34, 1);
    bottom: 0;
    left: 0;
    min-height: 100%;
    overflow: hidden;
    top: 0;
    z-index: 100;
}

.page-menu li {
    padding-left: 0;
}

.page-menu-close,
.page-menu-opener {
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    transition: all 0.3s ease-in-out;
    z-index: 2000;
}

.page-menu-close:hover,
.page-menu-close:focus {
    background: rgba(255, 255, 255, 0.1);
}

.fa-times-thin:before {
    content: '\00d7';
}

.page-menu-opener .fa {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.page-menu-opener-text {
    font-size: 10px;
    text-align: center;
    width: 100%;
}

.page-navigation {
    overflow-y: auto;
    padding: 20px;
    position: relative;
    z-index: 100;
}

.page-navigation ul {
    margin-left: 1.5rem;
    padding-left: 0;
}

.page-navigation li {
    list-style-type: none;
    text-align: left;
    width: 100%;
}

.page-navigation a {
    align-items: flex-start;
    color: #fff;
    display: flex;
    text-decoration: none;
    width: 100%;
}

.page-navigation .page-navigation-home {
    font-size: 18px;
    padding: 10px 0 !important;
    width: calc(100% - 40px);
}

.page-navigation .fa {
    flex-shrink: 0;
    line-height: inherit;
    margin-right: 0.5rem;
    text-align: left;
    width: 1.5rem;
}

.page-navigation ul.page-navigation-level-1 {
    margin-left: 0;
}

.page-navigation-level-1 a {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.125rem;
    padding: 10px 0;
}

.page-navigation__noHomeLink .page-navigation-level-1 > li:first-child > a {
    margin-top: 30px;
}

.page-navigation-level-1 .fa {
    text-align: center;
}

.page-navigation-level-2 a {
    border-top: none;
    font-size: 1rem;
    padding: 5px 0;
}

.page-navigation-level-3 a {
    font-size: 0.875rem;
}

/** page navigation -> mobile
 * ========================================================== */

.slideout-panel {
    display: inline-block;
    width: 100%;
}

.slideout-menu {
    bottom: 0;
    display: none;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/** page navigation -> mobile
 * ========================================================== */

.page-menu-mobile {
    background: #dddddd;
    color: #333;
    cursor: pointer;
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.page-menu-mobile .fa {
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .hide-on-desktop {
        display: none !important;
    }
}