.quiqqer-submenu--list-simple,
.quiqqer-submenu--list-buttonStyle {
    --_quiqqer-menu-submenu__controlBgColor: var(--qui-menu-submenu__controlBgColor, #f5f5f5);
    --_quiqqer-menu-submenu__linkBgColor: var(--quiqqer-menu-submenu__linkBgColor, transparent);
    --_quiqqer-menu-submenu__linkBgColor--hover: var(--quiqqer-menu-submenu__linkBgColor--hover, #fff);
}

/* Styling: general */
.quiqqer-submenu__icon {
    margin-right: 0.5em;
}

/* Styling: simple list */
:where(.quiqqer-submenu--list-simple) .quiqqer-submenu__items,
:where(.quiqqer-submenu--list-buttonStyle) .quiqqer-submenu__items {
    display: flex;
    gap: 0 calc(var(--_quiqqer-menu-submenu__gap) * 1.5);
    flex-wrap: wrap;
    justify-content: var(--_quiqqer-menu-submenu__itemsAlignment);
}

/* Styling: button style */
.quiqqer-submenu--list-buttonStyle {
    background-color: var(--_quiqqer-menu-submenu__controlBgColor);
    padding: 0.75rem 1rem;
}

:where(.quiqqer-submenu--list-buttonStyle) .quiqqer-submenu__link {
    border-radius: 0.5em !important;
    padding: 0.5em;
    display: block;
    background-color: var(--_quiqqer-menu-submenu__linkBgColor);
}

:where(.quiqqer-submenu--list-buttonStyle) .quiqqer-submenu__link:is(:hover, :active, :focus) {
    background-color: var(--_quiqqer-menu-submenu__linkBgColor--hover);
}