includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - src
        - ajax
    excludePaths:
        - src/QUI/Menu/Rest/Provider.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php