<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="menu.settings">
                    <conf name="showMenuDelay">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>250</defaultvalue>
                    </conf>
                    <conf name="type">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
                <section name="mobileMenu.settings">
                    <conf name="template">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>standard</defaultvalue>
                    </conf>
                </section>
                <section name="mobileMenu.standard.settings">
                    <conf name="collapseMobileSubmenu">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="showLevel">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                </section>
                <section name="mobileMenu.advanced.settings">
                    <conf name="homeLink">
                        <type><![CDATA[bool]]></type>
                    </conf>
                    <conf name="shortDesc">
                        <type><![CDATA[number]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="menu">
                        <text>
                            <locale group="quiqqer/menu" var="menu.settings.category"/>
                        </text>
                        <icon>fa fa-bars</icon>

                        <settings title="menu.settings" name="menu.settings">
                            <title>
                                <locale group="quiqqer/menu" var="menu.settings.title"/>
                            </title>

                            <input conf="menu.settings.showMenuDelay" type="number" min="0" max="5000">
                                <text>
                                    <locale group="quiqqer/menu" var="menu.settings.showMenuDelay"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/menu" var="menu.settings.showMenuDelay.desc"/>
                                </description>
                            </input>

                            <select conf="menu.settings.type">
                                <text>
                                    <locale group="quiqqer/menu" var="menu.settings.type"/>
                                </text>
                                <option value="Standard">
                                    <locale group="quiqqer/menu" var="menu.settings.Standard"/>
                                </option>
                                <option value="Icons">
                                    <locale group="quiqqer/menu" var="menu.settings.Icons"/>
                                </option>
                                <option value="IconsDescription">
                                    <locale group="quiqqer/menu" var="menu.settings.IconsDescription"/>
                                </option>
                                <option value="Image">
                                    <locale group="quiqqer/menu" var="menu.settings.Image"/>
                                </option>
                                <option value="Simple">
                                    <locale group="quiqqer/menu" var="menu.settings.Simple"/>
                                </option>
                                <option value="noMenu">
                                    <locale group="quiqqer/menu" var="menu.settings.noMenu"/>
                                </option>
                            </select>
                        </settings>

                        <settings title="mobileMenu.settings" name="mobileMenu.settings">
                            <title>
                                <locale group="quiqqer/menu" var="mobileMenu.settings.title"/>
                            </title>

                            <select conf="mobileMenu.settings.template">
                                <text>
                                    <locale group="quiqqer/menu" var="mobileMenu.settings.template"/>
                                </text>
                                <option value="standard">
                                    <locale group="quiqqer/menu" var="mobileMenu.settings.template.standard"/>
                                </option>
                                <option value="advanced">
                                    <locale group="quiqqer/menu" var="mobileMenu.settings.template.advanced"/>
                                </option>
                            </select>
                        </settings>

                        <!-- mobile menu standard -->
                        <settings title="mobileMenu.standard.settings" name="mobileMenu.standard.settings">
                            <title>
                                <locale group="quiqqer/menu" var="mobileMenu.standard.settings.title"/>
                            </title>

                            <input conf="mobileMenu.standard.settings.collapseMobileSubmenu" type="checkbox">
                                <text>
                                    <locale group="quiqqer/menu" var="mobileMenu.standard.settings.collapseMobileSubmenu"/>
                                </text>
                            </input>

                            <input conf="mobileMenu.standard.settings.showLevel" type="number" min="1" max="50">
                                <text>
                                    <locale group="quiqqer/menu" var="mobileMenu.standard.settings.showLevel"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/menu" var="mobileMenu.standard.settings.showLevel.desc"/>
                                </description>
                            </input>
                        </settings>

                        <!-- mobile menu advanced -->
                        <settings title="mobileMenu.advanced.settings" name="mobileMenu.advanced.settings">
                            <title>
                                <locale group="quiqqer/menu" var="mobileMenu.advanced.settings.title"/>
                            </title>

                            <input conf="mobileMenu.advanced.settings.homeLink" type="checkbox">
                                <text>
                                    <locale group="quiqqer/menu" var="mobileMenu.advanced.settings.homeLink"/>
                                </text>
                            </input>

                            <input conf="mobileMenu.advanced.settings.shortDesc" type="checkbox">
                                <text>
                                    <locale group="quiqqer/menu" var="mobileMenu.advanced.settings.shortDesc"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/menu" var="mobileMenu.advanced.settings.shortDesc.desc"/>
                                </description>
                            </input>
                        </settings>
                    </category>
                </categories>

            </window>
        </settings>

    </project>

    <settings>
        <window name="quiqqer-cache" menu-parent="/settings/quiqqer/">
            <title>
                <locale group="quiqqer/quiqqer" var="quiqqer.settings.cache"/>
            </title>

            <params>
                <icon>fa fa-sort-amount-desc</icon>
            </params>


            <category name="management" require="controls/cache/Settings">

                <settings title="clearMenuCache" name="clearMenuCache">
                    <title>
                        <locale group="quiqqer/quiqqer" var="quiqqer.menu.clearMenuCache.title"/>
                    </title>

                    <button>boom</button>
                </settings>

            </category>

        </window>
    </settings>

</quiqqer>