<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="menu.settings">
                    <conf name="type">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
            </config>


            <window>
                <categories>
                    <category name="menu">
                        <text>Menu</text>
                        <icon>fa fa-menu</icon>

                        <settings title="menu.settings" name="menu.settings">
                            <title>
                                QUI Template Einstellungen
                            </title>
                            <select conf="menu.settings.type">
                                <text>Header-Logo</text>
                                <option value="Standard">MegaMenu - mit Unterseiten</option>
                                <option value="Image">MegaMenu - Grosse Seitenbilder</option>
                            </select>
                        </settings>
                    </category>
                </categories>

            </window>
        </settings>

    </project>
</quiqqer>