
.qui-menu-dropdown ul {
    padding: 0;
    margin: 0;
}

.qui-menu-dropdown li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    position: relative;
}

.qui-menu-dropdown-children {
    background: rgba(0,0,0,0.5);
    display: none;
    font-size: 12px;
    position: absolute;
    width: 200px;
    z-index: 1000;
}

.qui-menu-dropdown-children li {
    clear: both;
    float: left;
    padding: 0;
    width: 100%;
}

.qui-menu-dropdown-children li a {
    float: left;
    padding: 10px;
    width: 100%;
}

.qui-menu-dropdown-text {
    float: left;
    padding-left: 10px;
    width: 100%;
}

.qui-menu-dropdown-icon {
    float: left;
    height: 30px;
    text-align: center;
    width: 30px;
}

.qui-menu-dropdown-icon img {
    max-height: 100%;
    max-width: 100%;
}

.qui-menu-dropdown--with-icons .qui-menu-dropdown-text {
    width: calc(100% - 30px);
}