.qui-menu-urlList {
    --_qui-menu-urlList-title-fontWeight: var(--qui-menu-urlList-title-fontWeight, bold);
    --_qui-menu-urlList-title-fontSize: var(--qui-menu-urlList-title-fontSize, var(--qui-fs-lg));
    --_qui-menu-urlList-link-color: var(--qui-menu-urlList-link-color, var(--qui-colors-primary));
    --_qui-menu-urlList-link-color--hover: var(--qui-menu-urlList-link-color, var(--qui-colors-primary-700));
}

/* reset link */
.qui-menu-urlList--resetLinkColor {
    --_qui-menu-urlList-link-color: var(--qui-menu-urlList-link-color, inherit);
}

.qui-menu-urlList__listTitle {
    font-weight: var(--_qui-menu-urlList-title-fontWeight);
    font-size: var(--_qui-menu-urlList-title-fontSize);
    margin-bottom: 0.5em;
}

.qui-menu-urlList__entries {
    padding-left: 0;
    margin: 0 0 1rem 0;
    list-style: none;
}

.qui-menu-urlList__entry {
    padding-left: 0;
    margin: 0 0 0.5em 0;
}

.qui-menu-urlList__link {
    display: flex;
    gap: 0.75em;
    color: var(--_qui-menu-urlList-link-color);
}

.qui-menu-urlList__link {
    display: flex;
    gap: 0.75em;
    color: var(--_qui-menu-urlList-link-color);
}

.qui-menu-urlList__link:is(:hover, :focus, :active) {
    color: var(--_qui-menu-urlList-link-color--hover);
}

/* icon */
.qui-menu-urlList__linkIcon {
    flex-shrink: 0;
    line-height: inherit;
}

