.quiqqer-menu-megaMenu-children-image {
    float: left;
    width: 100%;
}

.quiqqer-menu-megaMenu-children-image-entry {
    float: left;
    padding: 0 10px;
    width: 25%
}

.quiqqer-menu-megaMenu-children-image-entry-img {
    background-position: center center;
    background-size: cover;
    float: left;
    padding-bottom: 56.25%; /*   16:9*/
    width: 100%;
}

.quiqqer-menu-megaMenu-children-image-entry-title {
    clear: both;
    float: left;
    width: 100%;
}