.quiqqer-menu-megaMenu-children-image {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.quiqqer-menu-megaMenu-children-image-entry {
    padding: 1rem;
}

.quiqqer-menu-megaMenu-children-image-entry-image {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    height: 160px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.quiqqer-menu-megaMenu-children-image-entry-image > picture {
    display: flex;
    align-items: center;
    height: 100%;
}

.quiqqer-menu-megaMenu-children-image-entry-title {
    margin-top: 0.5rem;
    text-align: center;
}