/*
.quiqqer-menu-megaMenu-children-image {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
}

.quiqqer-menu-megaMenu-children-image-entry {
    !*flex-grow: 1;*!
    float: left;
    margin-bottom: 10px;
    min-width: 25%;
    padding: 10px;
    width: 25%;
}

.quiqqer-menu-megaMenu-children-image-entry-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    padding-bottom: 56.25%; !* 16:9 *!
    position: relative;
    width: 100%;
}

.quiqqer-menu-megaMenu-children-image-entry-img .quiqqer-icon {
    font-size: 60px;
    position: absolute;
    top: calc(50% - 30px);
    text-align: center;
    width: 100%;
}

.quiqqer-menu-megaMenu-children-image-entry-title {
    clear: both;
    float: left;
    padding: 5px 0;
    width: 100%;
}*/

.quiqqer-menu-megaMenu-children-simple {
    width: auto;
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
}

.quiqqer-menu-megaMenu-children-simple-entry {
    display: block;
}

.quiqqer-menu-megaMenu-children-simple-entry a {
    padding: 10px 20px;
}

/*
.quiqqer-menu-megaMenu-list-item-menu {
    width: auto;
}*/
